.dropdown-editor-record-group {
  .switch-formatting {
    margin: 2px 75px 5px 0;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
